<div class="background">
    <div class="container-fluid">
        <nav class="navbar col-12 p-3">
            <a class="button">Icono</a>
            <h1 class="text-center">PECC-19</h1>
            <form class="form-inline">
                <div class="btn-gruop dropleft">
                    <button id="sidebar" type="button" class="btn btn-outline-success btn-lg btn-outline-info my-2 my-sm-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i id="botonBarra" class="fas fa-bars"></i>
                        </button>

                    <div class="dropdown-menu dropdwon-menu-right">
                        <a href="#" class="dropdown-item"><i class="far fa-address-card mr-3 lead"></i> Curriculum</a>
                        <a href="#" class="dropdown-item"><i class="far fa-list-alt mr-3 lead"></i> Empleos diponibles</a>
                        <a href="#" class="dropdown-item"><i class="fas fa-bell mr-3 lead"></i> Notificaciones</a>
                        <a href="#" class="dropdown-item"><i class="fas fa-question-circle mr-3 lead"></i> F.A.Q.</a>
                        <div class="dropdwon-driver"></div>
                        <form action="/logout" class="logout-from">
                            <a href="#" class="dropdown-item"><i class="fas fa-sign-out-alt mr-3 lead"></i> Cerrar sesión.</a>
                        </form>
                    </div>
                </div>
            </form>
        </nav>
    </div>